/* stylelint-disable */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

div {
  margin-right: 2rem;
}

.completed {
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
}

.pie {
  border-radius: 50px;
  border: 8px solid transparent;
  background: linear-gradient(105deg, rgb(243, 243, 243), rgb(3, 127, 204))
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(rgb(115, 115, 115) 0 0);
  mask-composite: exclude;
  width: 4.25rem;
  height: 4.25rem;
}

.random {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
